html, body, .main, #part1, #part2 {
    width: 100%;
    height: 98%;
}

svg {
    border: 1px solid #000;
}

table {
    padding: 20px;
}

td {
    padding: 20px;
    border: 1px solid #000;
}

/* .border {
    border: 1px solid #000;
} */

#table-container {
    width: 50%;
}

.col {
    display: inline-block;
    width: 49%;
    height: 100%;
}